
#header { padding: 8px; }
#logo   { padding: 8px; width: 1%; background: #f5deb2 url('img/brown-grad.gif') repeat-x top left; }
#news   { padding-left: 8px; width: 35%; }

.userobject { margin: 0; }  

